<ion-header>
  <ion-toolbar>
  	<ion-button [routerLink]="['/journal']" shape="round">back</ion-button>
    <ion-title class="ion-text-center">Period Care</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>What is menstruation?</ion-card-subtitle>
    <ion-card-title>Menstruation Cycle</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Menstruation is the technical term for getting your period. About once a month, females who have gone through puberty will experience menstrual bleeding. This happens because the lining of the uterus has prepared itself for a possible pregnancy by becoming thicker and richer in blood vessels. If pregnancy does not occur, this thickened lining is shed, accompanied by bleeding. Bleeding usually lasts for 3-8 days. For most women, menstruation happens in a fairly regular, predictable pattern. The length of time from the first day of one period to the first day of the next period normally ranges from 21-35 days.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>What is normal bleeding?</ion-card-subtitle>
    <ion-card-title>Bleeding</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   There is a range of normal bleeding – some women have short, light periods and others have longer, heavy periods. Your period may also change over time.

Normal menstrual bleeding has the following features:

<p> - Your period lasts for 3-8 days </p>

<p> - Your period comes again every 21-35 days (measured from the first day of one period to the first day of the next) </p>

<p> - The total blood loss over the course of the period is around 2-3 tablespoons but secretions of other fluids can make it seem more </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Facts, Statistics, and You?</ion-card-subtitle>
    <ion-card-title>Menstruation</ion-card-title>
  </ion-card-header>

  <ion-card-content>

  <p> A menstrual period is vaginal bleeding that occurs at the end of the menstrual cycle. Each month, the female body prepares itself for a possible pregnancy. The uterus develops a thicker lining, and the ovaries release an egg that can be fertilized by sperm.</p>

<p> If the egg isn’t fertilized, pregnancy won’t occur during that cycle. The body then sheds the built-up uterine lining. The result is a period, or menstruation.<p>

<p> The average female will have their first period between ages 11 and 14. Periods will continue regularly (usually monthly) until menopause, or about age 51. </p>
  </ion-card-content>
</ion-card>

</ion-content>
