<ion-header>
  <ion-toolbar>
  	<ion-button [routerLink]="['/workout']" shape="round">back</ion-button>
    <ion-title class="ion-text-center">videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>


	<p class="ion-text-center">5min Warm Up</p>

		<video
			width="100%"
			controls="controls"
			preload="metadata"
			autoplay="autoplay"
			webkit-playsinline="webkit-playsinline"
			class="videoPlayer">
			<source src="assets/5mins.mp4" type="video/mp4"/>
		</video>

	<p class="ion-text-center">6min Everyday Strectch</p>

		<video
			width="100%"
			controls="controls"
			preload="metadata"
			autoplay="autoplay"
			webkit-playsinline="webkit-playsinline"
			class="videoPlayer">
			<source src="assets/6mins.mp4" type="video/mp4"/>
		</video>

		<p class="ion-text-center">10min Beginner Workout</p>


		<video
			width="100%"
			controls="controls"
			preload="metadata"
			autoplay="autoplay"
			webkit-playsinline="webkit-playsinline"
			class="videoPlayer">
			<source src="assets/CARDIO2.mp4" type="video/mp4"/>
		</video>


	<p class="ion-text-center">10min Cardio Workout</p>

		<video
			width="100%"
			controls="controls"
			preload="metadata"
			autoplay="autoplay"
			webkit-playsinline="webkit-playsinline"
			class="videoPlayer">
			<source src="assets/CARDIO.mp4" type="video/mp4"/>
		</video>





	</ion-card>
</ion-content>
