<ion-header>
  <ion-toolbar>
<ion-fab-button [routerLink]="['/journal']">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-title ion-title class="ion-text-center">Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
<p ion-title class="ion-text-center"> Workout Inspirations </p>

<ion-button [routerLink]="['/videos']" expand="block" fill="outline" >Videos</ion-button>

<ion-button [routerLink]="['/inspiration']" expand="block" fill="outline" > Inspirations</ion-button>



</ion-content>
